.btn{
    padding: 15px 30px;
    font-size: 20px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    transition: transform 0.15s;
    cursor: grab;
}

.btn:active{
    transform: scale(0.95);
}

.txt{
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5;
}

.space{
    margin: 10px;
    background-color: brown;
}